:root{
  --primary : #FFFFFF;
  --secondary: #ffffffd5;
  --transparent-white: #72727263;
}

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  color: var(--primary);

}


#app{
 position: fixed;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background-image: url("./public/view-3d-woman-using-laptop\ 1.png");
 background-size: cover;
 background-position:center;
 background-repeat: no-repeat;
 z-index: 1;
overflow: hidden;
 .main{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .header{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav{
      padding: 1rem 5rem;
      border-radius: 10px;
      background-color: var(--transparent-white);
      display: flex;
      gap: 2rem;
      font-size: 1.5rem;
    }
    .menu{
      padding: 1rem;
      background: var(--transparent-white);
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      gap: 6px;
      span{
        width: 20px;
        height: 1px;
        background-color: var(--primary);
      }

    }
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item{
      width: 50%;
      h1{
        font-size: 3.9rem;
      }
      p{
        font-weight: bold;
        margin: 10px 0;
        color: var(--secondary);
      }
      .form{
        display: flex;
        gap: 25px;
        margin: 20px 0;
        .btn{
          padding: 1rem 2rem;
          border-radius: 9px;
          font-size: 1.2rem;
          background-color: var(--transparent-white);
        }
      }
      .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        margin: 20px 0;
        border-radius: 15px;
        width: 50%;
        background:var(--transparent-white);
        svg {
          width: 80px;
        }
      }
    }

    .right{
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 30px;
      &__item{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0.7rem 1rem;
        background: var(--transparent-white);
        border-radius: 15px;
        img{
          width: 55px;
        }
        .profil_item{
          display: flex;
          flex-direction: column;
          p{
            margin-bottom: 5px;
          }
        }

      }
    }
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card{
      width: 250px;
      height: 220px;
      padding: 1rem 1.2rem;
      background: var(--transparent-white);
      border-radius: 15px;
      h2{
        font-size: 1.5rem;
        margin: 10px 0;
      }
      p{
        color: var(--secondary);
        font-size: 0.95rem;
      }

    }
  }
 }

 
}

